.main {
  display: block;
  //  height: 35vh;
  overflow: hidden;
}

.main img {
  object-fit: cover;
}

.sliderContainer {
  position: relative;
}


.slider {
  position: relative;
  white-space: nowrap;
  border: 2px solid white;
  padding: 8px 0;
  padding-bottom: 4px;
  rotate: -5deg !important;
  scale: 1.06 !important;
  transform: translate3d(0px, 75px, 0px) !important;
  background-color: #CB3E79;
}

.slider2 {
  position: relative;
  white-space: nowrap;
  border: 2px solid white;
  padding: 8px 0;
  padding-bottom: 4px;
  rotate: 5deg !important;
  scale: 1.06 !important;
  transform: translate3d(0px, 25px, 0px) !important;
  background-color: #5FB2CD;
}

.slider p,
.slider2 p {
  position: relative;
  margin: 0px;
  font-family: "Dongle";
  color: white;
  font-size: 42px;
  line-height: 39.9px;
  font-weight: 700;
  padding-right: 50px;
}





.slider p:nth-of-type(2),
.slider2 p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}



@media only screen and (min-width: 2001px) {

  .main {
    padding-top: 5rem !important;
    padding-bottom: 15rem !important;
  }

}

@media (min-width: 1500px) and (max-width: 2000px) {

  .main {
    padding-top: 3rem !important;
    padding-bottom: 10rem !important;
  }
  
}

@media only screen and (max-width: 1024px) {

  .main {
    padding-top: 0rem !important;
    padding-bottom: 6rem !important;
  }

  .slider p,
  .slider2 p {
    position: relative;
    margin: 0px;
    font-family: "Dongle";
    color: white;
    font-size: 20px;
    line-height: 19px;
    font-weight: 700;
    padding-right: 50px;
  }

}


@media only screen and (max-width: 700px) {

  .main {
    padding-top: 0rem !important;
    padding-bottom: 5rem !important;
  }

  .slider p,
  .slider2 p {
    position: relative;
    margin: 0px;
    font-family: "Dongle";
    color: white;
    font-size: 20px;
    line-height: 19px;
    font-weight: 700;
    padding-right: 50px;
  }

}


